.list-item {
    margin-bottom: 10px;
}

.subtext {
    font-size: 7pt;
    color: #828282;
}

.comment {
    margin: 20px 0 20px;
}

.comment p {
    margin: 3px;
}

.comment .comment {
    margin-top: 8px;
    padding-left: 30px;
}

.text {
    font-size: 80%;
    margin-top: 5px;
}